<%- include('../partials/header') %>

<div class="card-deck">
    <div class="card" id='include-card'>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" id='included-text'>Images Screen</p>
      </div>
    </div>
    <div class="card-deck">
        <div class="card" id='include-card'>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text" id='included-text'>Videos Screen</p>
          </div>
        </div>

<%- include('../partials/footer') %>