<%- include('../partials/header') %>

<div class="card-deck" id='lessonPage'>
    <div class="card" id='playlist-card'>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Chapters</p>
        </div>
    </div>
    <div class="card" id='lesson-card'>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Lesson</p>
    </div>
</div>

<%- include('../partials/footer') %>