.brand-logo {
  margin-left: 15px;
}

body {
  background-color: #697987;
  height: 100%;
  width: 100%;
}

#search-row form {
  padding-top: 20px;
}

.card-title {
  text-align: center;
  vertical-align: middle;
  font-size: 115px;
}

.nav-item {
  background: #31616D;
  padding: 10px;
  color: whitesmoke;
}

.card:first-child {
  border-radius: 0;
}

#include-card {
  height: 40rem;
  max-width: 20rem;
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

#intro-card {
  margin-top: 2rem;
  border-radius: 0;
  width: 10rem;
}

#contact-card {
  height: 40rem;
  max-width: 20rem;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

#chapter-card {
  height: 40rem;
  max-width: 20rem;
  margin-left: 2rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

#lesson-video {
  border-radius: 0;
}

#lesson-info{
  height: 40rem;
  max-width: 20rem;
  margin-right: 2rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

.progress {
  width: 60%;
  max-width: 100rem;
  justify-content: center;
  margin: auto;
  margin-top: .5rem;
}

#userInfo {
  margin: auto;
  margin-top: 3rem;
  height: 40rem;
}

li { 
  cursor: pointer; 
}

#welcomeCard {
    margin: auto;
    margin-top: 10rem;
    height: 5rem;
    font-size: 4rem;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

#enjoyCard {
  margin: auto;
  margin-top: 2rem;
  height: 5rem;
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

#lessonVideo {
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
}

#image-slide {
  height: 30rem;
  width: 30rem;
  margin: auto;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}

#included-courses {
  font-size: 2rem;
  font-style: italic;
  
}

#included-list {
  font-size: 2rem;
}

#contact-card {
  font-size: 2rem;
  font-style: italic;
}

#myProfileCard {
  margin: auto;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}

#lessonPage {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

#lesson-card {
  margin: auto;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  height: 40rem;
  width: 1000px;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

#playlist-card {
  height: 30rem;
  max-width: 20rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

#createMsg {
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

#allMessages, #textBox {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

#msg-card {
  margin: auto;
  margin-top: 2rem;
  height: 20rem;
  max-width: 70rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

#user-msg {
  font-size: 4rem;
}

#msgReply1 {
  margin: auto;
  margin-top: 3rem;
  height: auto;
  max-width: 70rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

#msgReply2 {
  margin: auto;
  margin-top: 3rem;
  height: auto;
  max-width: 70rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

#makeReply {
  margin: auto;
  margin-top: 3rem;
  height: 10rem;
  max-width: 70rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.video {
  width: 100%;
}

.c-video {
  margin-top: 5rem;
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin: auto;
}

.instagram-button {
  background-image: linear-gradient(to right top, #8a3ab9, #cb339e, #ef4980, #ff6e68, #ff975b, #ff9a5a, #ff9c59, #ff9f58, #fd7d5d, #f25b6a, #dd3d7b, #bc2a8d);
  border-radius: 10%;
  margin-top: 2rem;
}

.twitter-button {
  background: #00ACEE;
  border-radius: 10px;
  margin-top: 3rem;
}


.video2 {
  margin: auto;
}

#prevVideo, #markComplete, #nextVideo {
  display:inline-block;
}
