<%- include('../partials/header') %>

<div class="card-deck">
    <div class="card" id='include-card'>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h3 class="card-header">Included Courses</h3>
        <br />
        <ul id='included-list'>
          <li>Guitar Basics</li>
          <li>Guitar Scales</li>
          <li>Guitar Chords</li>
          <li>And More!</li>
        </ul>
      </div>
    </div>
    <div class="card" id='intro-card'>
      <div class="card-body">
        <div class='container'>
        <div class='c-video'>
        <iframe id='intro-vid' width="1120" height="600" src="https://www.youtube.com/embed/ivkyF5GuYto" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    </div>
    <div class="card" id='contact-card'>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h3 class="card-header">Social Media</h3>
      </br>
        <div class="button-container">
          <button class="twitter-button" id="twitter" onclick="window.open('https://twitter.com/andersonabreujr')">
              <i class="fab fa-twitter"></i>
          </button>
          <p>@AndersonAbreuJr</p>
        </div>

       <p>-</p>
       <div class="button-container">
        <button class="instagram-button" id="instagram" onclick="window.open('https://www.instagram.com/aabreujr_/')">
            <i class="fab fa-instagram"></i>
        </button>
        <p>@aabreujr_</p>
      </div>
      </div>
  </div>
</div>

<%- include('../partials/footer') %>