<%- include('../partials/header') %>

<div class="card" style="width: 50rem;" id='welcomeCard'>
  <div class="card-body">
    <h5 class="card-text">WELCOME <%= user.name.toUpperCase() %> TO THE ABOVE REALITY GUITAR INSTITUTE</h5>
  </div>
</div>

<div class="card" style="width: 30rem;" id='enjoyCard'>
  <div class="card-body">
    <h5 class="card-text">ENJOY YOUR INSTANT ACCESS TO BECOMING A BETTER GUITARIST!</h5>
  </div>
</div>

<%- include('../partials/footer') %>